/* shared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    font-weight: 550;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 100px;
}

nav {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;

}

.nav-tittle {
    font-size: 2.2rem;
    font-weight: 700px;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 25px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {

    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
    padding: 25px;
    margin-bottom: 10px;
}

.banner-description {
    color: #727272;
}

.banner img {
    width: 100%;
}

/* teams section */
main {
    max-width: 1440px;
    margin: 0px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 100px;
    padding-top: 100px;
}

.teams-img-container img {
    width: 270px;
}

.teams-contant {
    padding-right: 70px;
    padding-left: 50px;
}

.teams-tittle {
    font-size: 2.5rem;
}

.teams-tittle .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-tittle .of-our {
    font-weight: 700px;
}

.teams-tittle .text-features {
    color: #FF900E;
    font-weight: 700
}

.teams-description {
    color: #727272;
    padding-top: 25px;
    padding-bottom: 10px;

}

/* features section */

.features-container {
    display: flex;
}

.features-container .features-tittle {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-container img {
    width: 450px;
    padding: 20px;
    margin-top: 230px;
    margin-left: 60px;
}

.features-tittle {
    font-size: 35px;
    font-weight: 700;
    color: #131313;
    margin-top: 150px;
    margin-left: 25px;
}

.features-description {
    margin-left: 25px;
    color: #727272;
    font-size: 16px;
    margin-top: 18px;
    font-weight: 400;
    line-height: 26px;
}

.features-content .card {
    margin-left: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.06);
}

.card-description {
    margin-top: 10px;
    color: #727272;
}

.ten-year-badge {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    text-align: center;
    font-weight: 700;
    width: 250px;
    padding: 25px;
    position: relative;
    bottom: 150px;
    margin-left: 20px;
}

.ten-year-badge h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.ten-year-badge p{
    font-size: 1.4rem;
    margin-bottom: 10px;
  }


/* facts section */

.facts-tittle {
    font-size: 2.2rem;
    font-weight: 700px;
    color: #131313;
    padding-top: 100px;
    padding-left: 100px;
}

.facts-description {
    color: #727272;
    padding-left: 100px;
    padding-top: 20px;
}

.facts-card-container {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    padding-top: 50px;
}


.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px 30px;
}

.facts-card-container .card-stats {
    /* font-size: 45px; */
    color: #424242;
}

.facts-card-container .card-tittle {
    font-weight: 600;
    color: #727272;
}

/* sponsor section */
.sponsor-container {
    text-align: center;
    margin-bottom: 100px;
}

.sponsor-tittle {
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}

.sponsor-description {
    margin-top: 15px;
    font-size: 16px
}

.sponsor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* responsive media queries */

/* Mobile Devices responsive */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .teams-container {
        flex-direction: column;
        padding: 10px;
        padding-right: 130px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .facts-tittle,
    .facts-description {
        padding-left: 60px;
    }

    .facts-card-container {
        flex-direction: column;
        padding-left: 110px;
        padding-right: 110px;
        gap: 50px;
    }

    .sponsor-img-container {
        flex-direction: column;
        gap: 40px;

    }

    .sponsor-img-container img {
        width: 165px;
    }
    .features-container{
        flex-direction: column;
    }
    .features-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-year-badge{
        max-width: 300px;
    }
}



/* tablet and medium devices responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .teams-container {
        flex-direction: column;
        padding: 25px;
        padding-right: 130px;
    }

    .teams-img-container {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 50px;
        padding-left: 210px;
        padding-right: 210px;
    }

    .sponsor-img-container {
        flex-direction: column;
        gap: 40px;

    }

    .sponsor-img-container img {
        width: 165px;
    }
    .features-container{
        flex-direction: column;
    }
}