/* shared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    font-weight: 550;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 100px;
}

nav {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;

}

.nav-tittle {
    font-size: 2.2rem;
    font-weight: 700px;
    color: #131313;
}

nav > ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 25px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {

    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
    padding: 25px;
    margin-bottom: 10px;
}

.banner-description {
    color: #727272;
}

.banner img {
    width: 100%;
}

/* teams section */
main{
    max-width: 1440px;
    margin: 0px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 100px;
    padding-top: 100px;
}
.teams-img-container img {
    width: 270px;}
.teams-contant{
    padding-right: 70px;
    padding-left: 50px;
}
.teams-tittle{
    font-size: 2.5rem ;
}
.teams-tittle .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-tittle .text-features{
    color: #FF900E;
    font-weight: 700
}
.teams-description{
    color: #727272;
    padding-top: 25px;
    padding-bottom: 10px;

}




/* responsive media queries */

/* Mobile Devices responsive */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 15px;
    }
}



/* tablet and medium devices responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
}